.favorites__wrapper {
  display: flex;
  justify-content: center;
  @media (width>768px) {
    display: block;
  }
  .favorit__list__empty {
    color: var(--incorrect);
    text-align: center;
  }
}
