.input__box {
  position: relative;
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 2px 0 2px 8px;

  .input__checkbox {
    width: 100%;
    max-width: 12px;
    max-height: 12px;
    margin: 4px;
  }

  .input__label {
    color: var(--black);
    font-size: 14px;
  }

  .input__search {
    display: flex;
    gap: 124px;
    align-items: center;
    width: 100%;
    max-width: 240px;
    padding: 8px 12px;
    border: 1px solid var(--black);
    border-radius: 12px;
  }

  .input__search__icon {
    position: absolute;
    right: 44px;
  }
}
