.button-black {
  display: flex;
  width: 100%;
  max-width: 280px;
  padding: 12px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  background-color: var(--black);
  color: var(--white);
  text-transform: uppercase;
}
.button-black:hover {
  background-color: var(--font-color);
}
.button-black:active {
  background-color: var(--white);
  color: var(--black);
}
.button-black:active path {
  fill: var(--black);
}

.button-white {
  display: flex;
  width: 100%;
  max-width: 280px;
  padding: 12px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  border: 1px solid var(--black);
  color: var(--black);
  text-transform: uppercase;
  background-color: var(--white);
}
.button-white:hover {
  background-color: var(--font-color);
  border: 1px solid var(--font-color);
  color: var(--white);
}
.button-white:active {
  color: var(--white);
  background-color: var(--black);
  border: 1px solid var(--black);
}
.button__SeeMore-black {
  max-width: 240px;
  font-weight: 700;
}
.button__AllCategories {
  max-width: 200px;
  border: 1px solid var(--white);
  font-size: 14px;
}
.button__SeeMore-white {
  max-width: 200px;
  padding: 12px 48px;
  font-size: 14px;
}
.button__submit {
  font-size: 14px;
}
.button__search {
  max-width: 84px;
  padding: 10px 24px;
  align-self: stretch;
  border-radius: 0px 12px 12px 0px;
  font-size: 14px;
}

.button__card__color {
  max-width: 10px;
  max-height: 10px;
  width: 100%;
  border-radius: 1px;
}
.button__Check {
  max-width: 328px;
}
.button__addToCard {
  padding: 8px 32px;
  gap: 12px;
}
.button__addToCard:hover path {
  fill: var(--white);
}

.button__submitFilter-white {
  max-width: 100px;
  padding: 8px 24px;
  font-size: 14px;
}
.button__cleanFilter-white {
  max-width: 100px;
  padding: 8px 0px;
  font-size: 14px;
}
.button__cleanFilters-black {
  position: relative;
  max-width: 100px;
  padding: 8px 0px;
  gap: 4px;
  font-size: 10px;
  line-height: 150%;
  color: var(--inactive);
}

.button__google {
  max-width: 170px;
  padding: 8px 12px;
  gap: 8px;
  border: 1px solid var(--inactive);
  font-size: 14px;
  text-transform: none;
}

.button__apple {
  max-width: 160px;
  padding: 8px 12px;
  gap: 8px;
  border: 1px solid var(--inactive);
  font-size: 14px;
  text-transform: none;
}
.button__apple:hover path {
  fill: var(--white);
}
