//для флекса
@mixin display($d, $jc, $ai) {
  display: $d;
  align-items: $ai;
  justify-content: $jc;
}

//марджин
@mixin marginTB($mt, $mb) {
  margin-top: $mt;
  margin-bottom: $mb;
}

//паддінг
@mixin paddingTB($pt, $pb) {
  padding-top: $pt;
  padding-bottom: $pb;
}

//стиль шрифт
@mixin fontz($f, $h, $w, $c) {
  color: $c;
  font-weight: $w;
  font-size: $f;
  line-height: $h;
}

//розмір
@mixin size($wid, $heig) {
  width: $wid;
  height: $heig;
}

//фон

@mixin back($bs, $br, $bp, $ba) {
  background-repeat: $br;
  background-position: $bp;
  background-size: $bs;
  background-attachment: $ba;
}
