.order__cont {
    display: flex;
    justify-content: flex-end;
    padding-top: 30px;
    padding-right: 30px;
    position: relative;
    .sort-open {
        position: relative;
        cursor: pointer;
    }
    .sort__dropdown {
        position: absolute;
        top: 78px;
        right: 30px;
        label {

            cursor: pointer;
        }
    }
}
.order__container {
    width: 100%;

}
.orders__list {
    display: grid;
    grid-template-areas:
            "order__no  name  button";
        grid-template-columns: 1fr 1.5fr 1fr;
    width: 100%;
    border: 1px solid var(--inactive);
    min-height: 60px;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    .date {
        display: none;
    }
    .contct__info {
        display: none;
    }
    @media(width>=1200px) {
        .date {
                display: block;
            }
        
            .contct__info {
                display: block;
            }
        grid-template-areas:
            "order__no date name contct__info button";
        grid-template-columns: 1fr 1.5fr 1.5fr 1fr 1fr;

    }
    
}

.orders__list-bold {
    font-weight: 600;
}
.order__title-general {
    font-weight: 600;
    font-size: 34px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.order__title {
    font-weight: 600;
    font-size: 26px;
    padding-top: 15px;
    padding-bottom: 30px;
    text-align: center;
}

.order__products {
    display: grid;
    width: 100%;
    grid-template-areas:
        "img quantity name color__order itemNo price";
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    border: 1px solid var(--inactive);
    align-items: center;
    justify-items: center;
    min-height: 50px;
    text-align: center;
.cange__order__wrapper {
    .products_wrap {
        border: 1px solid var(--inactive);
    }

    }

    .img {
        width: 100%;
    }

    .name {
        text-transform: uppercase;
    }
}

.total__price {
    padding-top: 30px;
    text-align: end;
    font-weight: 600;
    font-size: 18px;
}

.customer__data {
    border: 1px solid var(--inactive);

    .data__item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(auto, minmax(200px, 1fr));
        padding: 15px;
        border: 1px solid var(--inactive);
    }
}

.order__tabs__box {
    width: 100%;
    background-color: var(--fild-type-color);
}

.order__tabs {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    color: var(--font-color);
    padding-top: 20px;
    padding-left: 20px;
    cursor: pointer;

    p {
        border-left: 1px solid var(--white);
        border-right: 1px solid var(--white);
        border-top: 1px solid var(--white);
        background-color: var(--inactive);
        padding: auto;
        padding-bottom: 20px;
        padding-top: 20px;
        text-align: center;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        font-size: 18px;
        text-transform: uppercase;
    }
}

.order__tabs .active {
    background-color: var(--white);
    color: var(--black);
}

.letter__change {
    width: 100%;
    position: relative;

    .letter__button {
        margin: 0 auto;
        margin-top: 50px;
    }

    .letter__cont {
        .letter__change__menu {
            display: flex;
            align-items: center;
            justify-content: end;
            gap: 30px;
            padding-bottom: 30px;
        }

        .letter__status {
            font-size: 20px;
            border: 1px solid var(--incorrect);
            padding: 10px;
            border-radius: 7px;
            background-color: var(--feedback);
        }
    }

    .change__letter__wrapper {
        .letter {
            width: 100%;
            display: flex;
            flex-direction: column;

            p {
                border-bottom: 1px solid var(--inactive);
                padding: 20px;
            }
        }

        .letter__key {
            font-weight: 700;

            .letter__value {
                font-weight: 400;
                padding-left: 30px;
            }
        }
    }

    .important {
        margin-right: 20px;
    }
}