.desktop__card {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 20px 1fr;
  gap: 12px;
  .desktop__card__toggler {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 520px;

    .desktop__card__switch {
      position: relative;
      text-align: center;
      text-transform: uppercase;
      font-family: "Noto Sans", sans-serif;
      font-size: 14px;
      padding-block: 5px;
      border-bottom: 4px solid var(--inactive);
      transition: border-bottom-color 0.3s ease;
    }
    .desktop__card__switch.active {
      content: "";
      display: block;
      border-bottom: 4px solid var(--black);
      max-width: 328px;
    }
    .desktop__card__switch:hover {
      cursor: pointer;
    }
  }
  .desktop__card__images {
    display: flex;
    gap: 12px;
    grid-row-start: 1;
    grid-row-end: span 2;
    .desktop__images-additional {
      display: flex;
      flex-direction: column;
      gap: 12px;

      img {
        max-width: 80px;
        cursor: pointer;
      }
    }
    .desktop__images-main {
      min-width: 320px;
      max-height: 400px;
      @media (width<=1225px) {
        min-width: 300px;
        max-height: 360px;
      }
      @media (width<=1040px) {
        min-width: 300px;
        max-height: 330px;
      }
      @media (width<=890px) {
        min-width: 280px;
        max-height: 300px;
      }
      .main {
        height: 100%;
        width: 100%;
      }
    }
  }

  .card__comments.active {
    display: block;
    font-size: 20px;
  }
  .card__comments {
    display: none;
  }

  .desktop__card__description {
    display: none;
  }
  .desktop__card__description.active {
    display: flex;
    flex-direction: column;
    max-width: 520px;
    margin-top: 10px;

    .desktop__card__title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
      position: relative;

      .desktop__card__name {
        font-family: "Noto Sans", sans-serif;
        font-size: 34px;
        text-transform: uppercase;
        color: var(--black);
        padding-right: 38px;
        @media (width<=1225px) {
          font-size: 28px;
        }
        @media (width<=1050px) {
          font-size: 24px;
        }
        @media (width<=870px) {
          font-size: 20px;
        }
      }
    }

    .desktop__card__feedbacks {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      div {
        cursor: pointer;
      }

      .desktop__card__comments {
        color: var(--inactive);
        font-family: "Inter";
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
        line-height: 150%;
      }
      .desktop__card__comments:hover {
        text-decoration: underline;
      }
    }

    .desktop__card__price {
      color: var(--black);
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 20px;
    }

    .desktop__card__colors {
      display: flex;
      gap: 24px;

      .card__color {
        width: 36px !important;
        height: 36px !important;
        transition: transform 0.05s ease;
      }
      .card__color.selected {
        transform: scale(1.35);
      }
    }

    .desktop__card__buttons {
      padding-block: 40px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 34px;

      button {
        padding-block: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
        @media (width<=850px) {
          font-size: 11px;
        }
      }
      .desktop__card__buttons-first:hover path {
        fill: var(--white);
      }

      .desktop__card__buttons-second path {
        fill: var(--white);
      }
      .desktop__card__buttons-second:active path {
        fill: var(--black);
      }
    }
  }
}

.fav__icon {
  margin-top: 6px;
}
.color {
  width: 10px;
  height: 10px;
  border-radius: 1px;
  @media (width>=768px) {
    width: 12px;
    height: 12px;
  }
}

.star path {
  fill: #e9e9e9;
}
