.loader {
  width: 50px;
  background:
    radial-gradient(farthest-side, #000 94%, #0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%, #000);
  border-radius: 50%;
  animation: l13 1s infinite linear;
  aspect-ratio: 1;
  mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
}

@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}
