.comments__wrapper {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .comments__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #e5e5e5;
    padding: 15px;
    border-radius: 15px;
    max-width: 525px;
    gap: 15px;

    .header__text {
      text-align: center;
      font-size: 16px;
      text-transform: uppercase;
      padding-inline: 25px;
    }
    .header__button {
      max-width: 200px;
      font-size: 14px;
    }
    .header__button.inactive {
      border: 1px solid black;
      border-radius: 12px;
      padding: 12px;
      font-size: 14px;
      text-transform: uppercase;
      background-color: #eeeeee;
    }
  }
  .comments__content {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    max-width: 525px;
    gap: 15px;

    .comments__content__item {
      border: 1px solid #e5e5e5;
      width: 100%;
      padding: 10px 10px;
      border-radius: 10px;
      .stat__Star {
        width: 20px;
        height: 20px;
      }
      .stat__Star.inactive {
        display: none;
      }
      .item__main {
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        .main__button__answer{
          color: rgb(186, 183, 183);
        }
      }

      .item__input{
        border: 1px solid rgb(172, 168, 168);
        height: 28px;
       width: 100%;
       border-radius: 13px;
       margin-top: 10px;
       padding: 6px;
      }

      .item__answerAdmin{
        margin-top: 15px;
        border: 1px solid rgb(186, 184, 184);
        padding: 10px;
        border-radius: 10px;
        .answerAdmin__user__name{
          color: rgb(181, 177, 177);
        }
      }

      .item__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;

        .header__text__name {
          font-size: 16px;
          font-weight: 800;
        }
        .header__text__date {
          font-size: 16px;
          font-weight: 800;
        }
      }
    }
  }
  .form__box form .form__field .svg__error-valid {
    left: -20px;
    top: -5px;
  }
  .button__submit__modal-call {
    margin-top: 15px !important;
  }
  textarea {
    border: 1px solid black;
    max-width: 280px;
    width: 100%;
    height: 100px;
    @media (width>=768px) {
      max-width: 445px;
    }
  }
}
