:root {
  --black: #191919;
  --font-color: #514949;
  --fild-type-color: #535a5c;
  --incorrect: #eb5757;
  --inactive: #d3d8da;
  --white-dark: #f6f6f6;
  --white-light: #fefefe;
  --white: #fff;
}
