body {
  min-width: 260px;
  font-weight: 400;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  line-height: normal;
}

.container {
  box-sizing: border-box;
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
  padding: 0 16px;

  @media (width>=481px) {
    max-width: 800px;
    padding: 0 30px;
  }

  @media (width>=768px) {
    max-width: 1440px;
    padding: 0 80px;
  }
}
